[submodule "modules/opencc"]
	path = modules/opencc
	url = https://github.com/BYVoid/OpenCC.git
[submodule "modules/my-module"]
	path = modules/my-module
	url = git@github.com:cdr555/my-module.git
[submodule "modules/test1"]
	path = modules/test1
	url = git@github.com:cdr555/test1.git
